@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  p {
    font-size: 1.5rem;
  }

  span {
    @apply bg-green-200;
  }
}

@layer components {
  .box {
    @apply h-20 w-20 bg-green-500 border-2 border-green-900 rounded-2xl hover:bg-blue-600 active:bg-gray-300;
  }
}

@layer utilities {
  .text-xl {
    color: '#0e0e0e';
    font-size: 10rem;
  }
}
